<div class="container mt-4">
    <h2>Dashboard</h2>
    <p>Utilisez les liens ci-dessous pour naviguer vers les différentes parties de l'application :</p>
    <div class="list-group">
      <a routerLink="/annonces" class="list-group-item list-group-item-action">Annonces</a>
      <a routerLink="/login" class="list-group-item list-group-item-action">Login (Utilisateur)</a>
      <a routerLink="/register" class="list-group-item list-group-item-action">Register (Utilisateur)</a>
      <a routerLink="/devenir-expert" class="list-group-item list-group-item-action">Devenir Expert</a>
      <a routerLink="/profile" class="list-group-item list-group-item-action">Profile (Utilisateur)</a>
      <a routerLink="/update-profile" class="list-group-item list-group-item-action">Update Profile</a>
      <a routerLink="/creerAnnonce" class="list-group-item list-group-item-action">Créer Annonce</a>
      <a routerLink="/notifications" class="list-group-item list-group-item-action">Notifications</a>
      <a routerLink="/conversations" class="list-group-item list-group-item-action">Conversations</a>
      
      <hr>
      
      <a routerLink="/admin/login" class="list-group-item list-group-item-action">Admin Login</a>
      <a routerLink="/admin/register" class="list-group-item list-group-item-action">Admin Register</a>
      <a routerLink="/admin/profile" class="list-group-item list-group-item-action">Admin Profile</a>
      <a routerLink="/admin/expert-requests" class="list-group-item list-group-item-action">Admin Expert Requests</a>
    </div>
  </div>
  