<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="navbar.component.css">
  <title>Elite Auto</title>
</head>
<body>
  <nav class="navbar" aria-label="Menu de navigation">
    <div class="logo-container">
      <img src="assets/22.PNG" alt="Logo Elite Auto" class="logo">
      <span>Elite<strong>Auto</strong></span>
    </div>
    <ul class="nav-links">
      <li><a href="/" class="nav-link">Accueil</a></li>
      <li><a routerLink="/" fragment="annonces" class="nav-link">Annonces</a></li>
      <li><a routerLink="/nos-experts" class="nav-link">Nos Experts</a></li>
      <li><a routerLink="/creerAnnonce" class="nav-link">Publier Annonce</a></li>
    </ul>
    <div class="communication">
      <ul class="icons">
        <li class="nav-item dropdown">
          <a routerLink="/notifications" aria-label="Notifications">🔔</a>
          <div class="navbar-3-dropdown">
            <p>Les notifications</p>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/conversations" aria-label="Messages">💬</a>
          <div class="navbar-3-dropdown">
            <p>Les messages</p>
          </div>
        </li>
        <!-- Menu Toggle version dropdown -->
        <li class="nav-item">
          <div class="menu-container">
            <div class="container" (click)="toggleMenu()" [ngClass]="{'change': menuOpen}">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
              
            <div class="dropdown-menu" id="dropdownMenu" *ngIf="menuOpen">
                <ul>
                  <li><a routerLink="/profile" class="nav-link">Voir Profil</a></li>
                  <li><a routerLink="/update-profile" class="nav-link">Modifier Profil</a></li>
                  <li><a routerLink="/consulter-mes-annonces" class="nav-link">Consulter mes annonces</a></li>
                  <li><a routerLink="/devenir-expert" class="nav-link">Devenir Expert</a></li>
                  <li><a routerLink="/parametres" class="nav-link">Paramètres</a></li>
                  <li><a routerLink="/deconnexion" class="nav-link">Déconnexion</a></li>
                </ul>
              </div>
              
          </div>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>
