<nav id="sidebarMenu" class="sidebar">
    <div class="position-sticky">
      <!-- Logo et Nom du site -->
      <div class="sidebar-header text-center py-4">
        <div class="logo-container">
          <img src="assets/22.PNG" alt="Logo Elite Auto" class="logo">
        </div>
      </div>

      <div class="menu">
        <a routerLink="/admin/dashboard" class="menu-item active">
          <i class="fas fa-tachometer-alt"></i><span>Dashboard</span>
        </a>
        <a routerLink="/admin/profile" class="menu-item">
          <i class="fas fa-user-circle"></i><span>Profil</span>
        </a>
        <a routerLink="/admin/expert-requests" class="menu-item">
          <i class="fas fa-user-tie"></i><span>Expert</span>
        </a>
        <a routerLink="/admin/repported-annonces" class="menu-item">
          <i class="fas fa-bullhorn"></i><span>Annonce</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-file-alt"></i><span>Rapport</span>
        </a>
      </div>
    </div>
  </nav>
