<div class="container mt-5">
    <h2 class="mb-4">Profil Admin</h2>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div *ngIf="admin">
      <p><strong>Nom :</strong> {{ admin.nom }}</p>
      <p><strong>Prenom :</strong> {{ admin.prenom }}</p>
      <p><strong>Email :</strong> {{ admin.email }}</p>
      <!-- Add other admin info if available  
      <button class="btn btn-primary me-2" (click)="router.navigate(['/admin/update'])">Mettre à jour mon profil</button>-->
      <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
    </div>
  </div>
  