<!-- src/app/app.component.html -->
<div id="page-container">
  <!-- Show navbar if not admin -->
  <app-navbar *ngIf="!isAdmin"></app-navbar>
  
  <!-- Global Spinner -->
  <div *ngIf="loading | async" class="global-spinner">
    <div class="spinner"></div>
  </div>

  <!-- For Admin: Use a different outlet if needed -->
  <div *ngIf="isAdmin">
    <router-outlet></router-outlet>
  </div>

  <!-- For Normal and Expert Users: -->
  <div *ngIf="!isAdmin" class="content-wrap container">
    <div class="row">
      <div class="col mt-1 mb-1">
        <div class="col-md-11 mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <!-- Show footer only when not admin and not on login/register pages -->
  <app-footer *ngIf="!isAdmin && !isLoginOrRegister()" class="footer"></app-footer>
</div>
