<div id="page-container">
  <app-navbar></app-navbar>
  
  <!-- Spinner global -->
  <div *ngIf="loading | async" class="global-spinner">
    <div class="spinner"></div>
  </div>

  <div class="content-wrap container">
    <hr>
    <div class="row">
      <div class="col mt-1 mb-1">
        <div class="col-md-11 mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="space"></div>
  
  <!-- Conditionally render Footer -->
  <app-footer class="footer" *ngIf="!isLoginOrRegister()"></app-footer>
</div>