<app-admin-navbar></app-admin-navbar>
<div *ngIf="rapports.length === 0 && !error" class="text-center text-muted py-5">
    <i class="fas fa-file-alt fa-3x mb-3"></i>
    <p class="fs-5">Aucun rapport est signalé pour le moment.</p>
  </div>
<div class="container" style="padding-left: 150px;padding-top: 20px;">
    <div class="col-lg-9 col-md-8"id="annonces" >
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex" *ngFor="let rapport of rapports; let i = index">
                <div class="card annonce-card w-100 my-2 shadow-2-strong" [routerLink]="['/admin/repported-rapport', rapport.id]"(click)="goToRapportDetails(rapport.id)">
                   
                   
                     


                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" style="color: #1d2e5f;font-weight: 700;margin-top: 250px;">Rapport signalé {{ i + 1 }}</h5>
                        <p>{{ rapport.created_at | date:'medium' }}</p>
                        <p class="card-text contenu-tronque">{{ rapport.contenu }}</p>

                        <!-- Infos supplémentaires avec icônes 
                        <div class="row text-muted small">
                            <div class="col-6"><i class="fas fa-car"></i> {{ann.vehicule['Marque']}} /
                                {{ann.vehicule['Modèle']}}</div>
                            <div class="col-6"><i class="fas fa-tachometer-alt"></i>
                                {{ann.vehicule['Kilométrage']}} km</div>
                            <div class="col-6"><i class="fas fa-gas-pump"></i>
                                {{ann.vehicule.TypeCarburant}}</div>
                            <div class="col-6"><i class="fas fa-cogs"></i> {{ann.vehicule.boiteVitesse}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        -->

    </div>
  </div>